[Unit]
Description=Leds Initial setup
#After=network.target
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/lib/leds-setup.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target